.App {
  font-family: sans-serif;
  text-align: center;
}

.fields {
  column-count: 3;
}
.Form {
  margin-bottom: 30px;
}
.myForm input[type="submit"] {
  width: 100%;
  margin: 10px 0;
  background: navy;
  color: #fff;
  border: none;
  height: 30px;
  line-height: 30px;
}
